name: Sync to Jira
on:
  issues:
    types: [opened]
  workflow_dispatch:

jobs:
  create_jira_issue:
    # Only run this job if the person who opened the issue is repo owner (ME)
    if: github.event.issue.user.login == 'frantaing'
    runs-on: ubuntu-latest
    steps:
      - name: Login to Jira
        uses: atlassian/gajira-login@v3
        env:
          JIRA_BASE_URL: https://${{ secrets.JIRA_DOMAIN }}
          JIRA_USER_EMAIL: ${{ secrets.JIRA_USER_EMAIL }}
          JIRA_API_TOKEN: ${{ secrets.JIRA_API_TOKEN }}

      - name: Create Jira Issue
        uses: atlassian/gajira-create@v3
        with:
          project: VNP
          issuetype: Task
          summary: "${{ github.event.issue.title }}"
          description: "${{ github.event.issue.body }}"
